<main>
  <h3>Update Inventory</h3>
  <div class="container">
    <form>
      <label for="name">Item Name</label><br />
      <input type="text" /><br /><br />
      <label for="warehouse">Warehouse</label><br />
      <input type="text" /> <br /><br />
      <label for="weight">Weight in Kilos</label><br />
      <input type="number" /> <br /><br />
      <label for="category">Category</label><br />
      <input type="text" /> <br /><br />
      <label for="description">Description</label><br />
      <input type="text" /> <br /><br />
    </form>
    <div>
      <button>
        <span> Update Inventory</span>
      </button>
    </div>
  </div>
</main>
